


/************************/
/* CSS BASE          */
/************************/
body {
  margin: 0px;
  padding: 0px 0px 10px 0px;
}
img {
  border:none;
}
table {
  padding:0px;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #feb;
}
table.bodyTable th, table.bodyTable td {
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}
div.clear{
  clear:both;
  visibility: hidden;
}
div.clear hr{
  display: none;
}

iframe { 
width: 100%;
_width: 80%; /* IE 6 */
}

#projectLogo {
  font-size: xx-large; 
  font-weight: bold;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
#projectLogo span{
    border: 1px solid;
    padding: 4px 10px 4px 10px;
    background-color: #eee;
    cursor: pointer;
}
.xleft, #organizationLogo img{
  float:left;
} 
.xright, #projectLogo img, #projectLogo span{
  float:right;
  text-shadow: #7CFC00;
}
#banner {
  border-bottom: 1px solid #fff;
}
#banner img {
  border: none;
}
#footer, #breadcrumbs {
  padding: 3px 10px 3px 10px;
}
#leftColumn {
 width: 18%;
 float:left;
}
#bodyColumn {
  margin-left: 20%;
  margin-right: 1%;
}
#navcolumn {
  padding: 8px 4px 0 8px;
}
#navcolumn h5, #navcolumn ul {
  margin: 0;
  padding: 0;
  font-size: small;
}
#navcolumn li {
  list-style-type: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  padding-left: 16px;
  list-style-position: ouside;
  line-height: 1.2em;
  font-size: smaller;
}
#navcolumn li.expanded {
  background-image: url(images/expanded.gif);
}
#navcolumn li.collapsed {
  background-image: url(images/collapsed.gif);
}
#poweredBy {
  text-align: center;
}
#navcolumn img {
  margin-top: 10px;
  margin-bottom: 3px;
}
#poweredBy img {
  display:block;
  margin: 20px 0 20px 17px;
  border: 1px solid black;
  width: 90px;
  height: 30px;
}
#search img {
    margin: 0px;
    display: block;
}
#search #q, #search #btnG {
    border: 1px solid #999;
    margin-bottom:10px;
}
#search form {
    margin: 0px;
}
#lastPublished {
  font-size: x-small;
}
.navSection {
  margin-bottom: 2px;
  padding: 8px;
}
.navSectionHead {
  font-weight: bold;
  font-size: x-small;
}
.section {
  padding: 4px;
}
#footer {
  font-size: x-small;
}
#breadcrumbs {
  font-size: x-small;
  margin: 0pt;
}
.source {
  padding: 12px;
  margin: 1em 7px 1em 7px;
}
.source pre {
  margin: 0px;
  padding: 0px;
}

/****************************/
/* CSS OVERRIDE STARTS HERE */
/****************************/

body, td, select, input, li{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
}
a {
  text-decoration: none;
}
a:link {
  color:#36a;
}
a:visited  {
  color:#47a;
}
a:active, a:hover {
  color:#69c;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(images/external.png) right center no-repeat;
  padding-right: 15px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}

#bodyColumn h1 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #999;
  color: #900;
  background-color: #ccc;
  font-weight:900;
  font-size: 28px;
}

#bodyColumn h2 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #999;
  color: #900;
  background-color: #ddd;
  font-weight:900;
  font-size: 24px;
}

#bodyColumn h3 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  color: #900;
  background-color: #eee;
  font-weight: normal;
  font-size: 20px;
}
#bodyColumn h4 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  color: #900;
  background-color: #eee;
  font-weight: normal;
  font-size: 16px;
}
#bodyColumn h5 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  color: #900;
  background-color: #fff;
  font-weight: normal;
  font-size: 14px;
}

li {
     font-size: 15px;
     padding-bottom: 3px;
}

p {
  line-height: 1.3em;
  // font-size: small;
     font-size: 15px;
}
#breadcrumbs {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #ccc;
}
#leftColumn {
  margin: 10px 0 0 5px;
  border: 1px solid #999;
  background-color: #eee;
}
#navcolumn h3 {
  font-size: 14px;
  border-bottom: 1px solid #aaaaaa;
  padding-left: 4px;
}
#navcolumn h4 {
  font-size: 12px;
  border-bottom: 1px solid #aaaaaa;
  padding-left: 4px;
}

#navcolumn h5 {
  font-size: smaller;
  border-bottom: 1px solid #aaaaaa;
  padding-left: 4px;
  margin-bottom: 15px;
}

#navcolumn .large {
  font-size: 14px;
  padding-bottom: 2px;
}

#navcolumn .largeClicked {
  font-size: 14px;
  padding-bottom: 2px;
  color: #451D29;
}


#navcolumn .medium {
  font-size: 13px;
  padding-bottom: 2px;
}

#navcolumn .small {
  font-size: 12px;
  padding-bottom: 2px;
}
#navcolumn li {
  padding-bottom: 4px;
}
table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 1em;
}

table.bodyTable tr.a {
  background-color: #ddd;
}

table.bodyTable tr.b {
  background-color: #eee;
}

.source {
  border: 1px solid #999;
}

/* For the list all pages table */

#listAllPagesTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 25px;
	width: 90%;
	border-collapse: collapse;
	text-align: center;
}
#listAllPagesTable th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#listAllPagesTable td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
        height: 30px; overflow-y: hidden;
}
#listAllPagesTable tbody tr:hover td
{
	color: #009;
}

/* for list revisions */

.revisionsTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 25px;
	width: 90%;
	border-collapse: collapse;
	text-align: center;
}
.revisionsTable th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
.revisionsTable td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
        height: 30px; overflow-y: hidden;
}
.revisionsTable tbody tr:hover td
{
	color: #009;
}
.note {
    background: none repeat scroll 0 0 #FFF9D8 !important;
    border-left: 6px solid #F3E378 !important;
    color: #333333 !important;
    padding: 10px !important;
    margin-top: 30px !important;
}
.commands {
    background: none repeat scroll 0 0 #E8E8E8 !important;
    color: #333333 !important;
    padding: 10px !important;
    margin-top: 10px !important;
    margin-left: 20px !important;
}
